@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using JenniesEpiserverWebSite.Models.ViewModels
@using JenniesEpiserverWebSite.Models.Pages

@model PageViewModel<ArticlePage>

<div>
  @Html.PropertyFor(m => m.CurrentPage.MainContentArea)
</div>