@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using JenniesEpiserverWebSite.Models.ViewModels

@model PageViewModel<JenniesEpiserverWebSite.Models.Pages.StartPage>


<div
    @Html.PropertyFor(m => m.CurrentPage.TopContentArea, new { CssClass = "row", ChildrenCssClass = "col-12" })
    @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { CssClass = "row", ChildrenCssClass = "col-4" })
</div>
