@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model JenniesEpiserverWebSite.Models.ViewModels.StartPageViewModel


<div
    @Html.PropertyFor(m => m.StartPage.TopContentArea, new { CssClass = "row", ChildrenCssClass = "col-12" })
    @Html.PropertyFor(m => m.StartPage.MainContentArea, new { CssClass = "row", ChildrenCssClass = "col-4" })
</div>
